/*Global Styles*/
body {
	font-family: var(--content-font);
	font-weight: 600;
}

.button {
	display: block;
}

.c-reverse {
	flex-direction: row-reverse;
}

/*Font Styles*/
h1 {
	font-family: var(--heading-font);
	font-size: 3rem;
	font-weight: 900;
	color: var(--box-white);
	margin-top: 50px;
	text-align: center;
}

h2 {
	font-family: var(--heading-font);
	font-size: 1.8rem;
	font-weight: 900;
	color: var(--heading-primary);
	padding: 20px 0px;
}

h3 {
	font-family: var(--heading-font);
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
	color: var(--heading-review);
	text-align: center;
	padding-top: 40px;
	letter-spacing: 0.2rem;

}

.two-column__content p {
	font-size: 1.125rem;
	color: var(--text-primary);
	padding: 20px 0px;
}

p.graphic__text, span.graphic__text {
	color: var(--text-graphic);
}

p.photo__text, span.photo__text {
	color: var(--text-photo);
}

span.graphic__text, span.photo__text {
	font-family: var(--heading-font);
	font-weight: 900;
	font-size: 1.6rem;
}

p.graphic__text, p.photo__text {
	font-size: 1.125rem;
	max-width: 375px;
	margin: 0 auto;
}

.testimonials__box p {
	font-size: 1.125rem;
	color: var(--text-review);
}

.testimonials__name {
	font-size: 1rem;
	font-weight: 900;
	color: var(--heading-primary);
}

.testimonials__role {
	font-size: 0.75rem;
	font-weight: 700;
	color: var(--heading-review);
}

.footer__heading {
	font-family: var(--heading-font);
	font-weight: 900;
	font-size: 1.8rem;
	color: var(--text-footer);
}


/*Header*/
header {
	background-image: url("img/mobile/image-header.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 40px 20px;
}

.topnav {
	float: right;
}

.header-hero img {
	display: block;
	margin: 0 auto;
	padding-bottom: 80px;
}



/*Company Info Section*/
.two-column__content {
	padding: 40px 20px;
	max-width: 375px;
	background-color: var(--box-white);
	text-align: center;
	margin: 0 auto;
}

.two-column__image {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding-top: 83.33%; /*Height bg-image/100. Width - that answer for ratio percentage*/
}

.two-column__gallery {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 40px;
	padding-top: calc(160% - 215px);
	text-align: center;
}

.button__learn-more a {
	font-size: 1.125rem;
	text-transform: uppercase;
	color: var(--heading-primary);
	margin-bottom: 20px;
}


#bg-one {
	background-image: url("img/mobile/image-transform.jpg")
}

#bg-two {
	background-image: url("img/mobile/image-stand-out.jpg")
}

#bg-three {
	background-image: url("img/mobile/image-graphic-design.jpg")
}

#bg-four {
	background-image: url("img/mobile/image-photography.jpg")
}



/*Testimonials Section*/
.testimonials__box img {
	border-radius: 90px;
	width: 45px;
	height: 45px;
}

.testimonials__box {
	padding: 40px 20px;
	text-align: center;
	max-width: 375px;
	margin: 0 auto;
}



/*Gallery Section*/
.gallery__holder {
	display: flex;
	flex-wrap: wrap;
}

.gallery-image__box {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	flex: 0 1 50%;
	padding-top: 50%;
	text-align: center;
}

#bg-five {
	background-image: url("img/mobile/image-gallery-milkbottles.jpg")
}

#bg-six {
	background-image: url("img/mobile/image-gallery-orange.jpg")
}

#bg-seven {
	background-image: url("img/mobile/image-gallery-cone.jpg")
}

#bg-eight {
	background-image: url("img/mobile/image-gallery-sugar-cubes.jpg")
}



/*Footer Section*/
footer {
	background-color: var(--box-cyan);
}



/*Media Queries*/
@media all and (min-width: 767px) {
	.two-column__holder, .testimonials__holder {
		display: flex;
	}

	.two-column__content {
		max-width: 550px;
		text-align: left;
		flex: 0 1 50%;
		padding: 240px 80px;
	}

	.two-column__image {
		padding-top: unset;
		flex: 0 1 50%;
	}

	.two-column__gallery {
		padding-top: calc(41.65% - 182px);
		flex: 0 1 50%;
		background-position: top;
	}

	.testimonials__holder {
		display: flex;
		justify-content: center;
	}

	.testimonials__box {
		flex: 0 1 33%;
	}

	header {
	background-image: url("img/desktop/image-header.jpg");
	}

	#bg-one {
	background-image: url("img/desktop/image-transform.jpg");
	}

	#bg-two {
	background-image: url("img/desktop/image-stand-out.jpg");
	}

	#bg-three {
	background-image: url("img/desktop/image-graphic-design.jpg");
	}

	#bg-four {
	background-image: url("img/desktop/image-photography.jpg");
	}

	#bg-five {
	background-image: url("img/desktop/image-gallery-milkbottles.jpg");
	}

	#bg-six {
		background-image: url("img/desktop/image-gallery-orange.jpg");
	}

	#bg-seven {
		background-image: url("img/desktop/image-gallery-cone.jpg");
	}

	#bg-eight {
		background-image: url("img/desktop/image-gallery-sugarcubes.jpg");
	}

	.gallery-image__box {
		flex: 0 1 25%;
		padding-top: 25%;
	}
}