/*Global Styles*/
body {
	font-family: var(--content-font);
	font-weight: 600;
}

.c-reverse {
	flex-direction: row-reverse;
}


/*Font Styles*/
h1 {
	font-family: var(--heading-font);
	font-size: 2.8rem;
	font-weight: 900;
	color: var(--box-white);
	margin: 80px 0px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.4rem;
}

h2 {
	font-family: var(--heading-font);
	font-size: 1.8rem;
	font-weight: 900;
	color: var(--heading-primary);
	padding: 20px 0px;
}

h3 {
	font-family: var(--heading-font);
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
	color: var(--heading-review);
	text-align: center;
	padding-top: 40px;
	letter-spacing: 0.2rem;

}

.two-column__content p {
	font-size: 1.125rem;
	color: var(--text-primary);
	padding: 20px 0px;
}

p.graphic__text, span.graphic__text {
	color: var(--text-graphic);
}

p.photo__text, span.photo__text {
	color: var(--text-photo);
}

span.graphic__text, span.photo__text {
	font-family: var(--heading-font);
	font-weight: 900;
	font-size: 1.6rem;
}

p.graphic__text, p.photo__text {
	font-size: 1.125rem;
	max-width: 375px;
	margin: 0 auto;
}

.testimonials__box p {
	font-size: 1.125rem;
	color: var(--text-review);
	padding-bottom: 30px;
}

.testimonials__name {
	font-size: 1rem;
	font-weight: 900;
	color: var(--heading-primary);
	font-family: var(--heading-font);
}

.testimonials__role {
	font-size: 0.75rem;
	font-weight: 700;
	color: var(--heading-review);
	display: block;
    padding-top: 10px;
}

.footer__heading {
	font-family: var(--heading-font);
	font-weight: 900;
	font-size: 2.5rem;
	color: var(--text-footer);
}


/*Header*/
header {
	background-image: url("img/mobile/image-header.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 40px 20px;
}

.topnav {
	float: right;
}

.header-hero img {
	display: block;
	margin: 0 auto;
	padding-bottom: 80px;
}

.header-top {
	position: relative;
}

#dropdownbox {
	position: absolute;
	display: none;
	background-color: var(--box-white);
	width: 91vw;
	margin-left: -94%;
	margin-top: 40px;
	text-align: center;
	padding: 30px 0px;
}

#dropdownbox::after {
	content: "";
	position: absolute;
	border-color: transparent var(--box-white) var(--box-white) transparent;
	top: -4vh;
	right: 0vw;
	border-width: 4vw;
	border-style: solid;
}

button img {
	background-color: unset;
}

li {
	font-size: 1.25rem;
	color: var(--heading-review);
	font-weight: 700;
	display: block;
	padding: 20px;
}

.button__yellow a {
	padding: 20px;
	color: var(--heading-primary);
	font-family: var(--heading-font);
	font-weight: 900;
	text-transform: uppercase;
	margin: 0 auto;
	background-color: var(--box-yellow);
	border-radius: 30px;
	max-width: 150px;
	display: block;
}

.button__yellow a:hover {
	background-color: #6FCFFF;
	color: var(--box-white);
}



/*Company Info Section*/
.two-column__content {
	padding: 40px 20px;
	max-width: 375px;
	background-color: var(--box-white);
	text-align: center;
	margin: 0 auto;
}

.two-column__image {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding-top: 83.33%; /*Height bg-image/100. Width - that answer for ratio percentage*/
}

.two-column__gallery {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 40px;
	padding-top: calc(160% - 215px);
	text-align: center;
}

.button__learn-more a {
	font-size: 1.125rem;
	text-transform: uppercase;
	color: var(--heading-primary);
	font-weight: 900;
	margin-bottom: 20px;
}

.hover__red a {
	background-image: linear-gradient(180deg, transparent 70%, #fe786733 0);
	background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: -10px;
    padding: 0px 10px;
}

.hover__yellow a {
	background-image: linear-gradient(180deg, transparent 70%, #fad4002e 0);
	background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: -10px;
    padding: 0px 10px;
}

.hover__red a:hover {
	background-image: linear-gradient(180deg, transparent 70%, var(--box-red) 0);
}

.hover__yellow a:hover {
	background-image: linear-gradient(180deg, transparent 70%, var(--box-yellow) 0);
}

#bg-one {
	background-image: url("img/mobile/image-transform.jpg")
}

#bg-two {
	background-image: url("img/mobile/image-stand-out.jpg")
}

#bg-three {
	background-image: url("img/mobile/image-graphic-design.jpg")
}

#bg-four {
	background-image: url("img/mobile/image-photography.jpg")
}



/*Testimonials Section*/
.testimonials__box img {
	border-radius: 90px;
	width: 70px;
	height: 70px;
	margin-bottom: 30px;
}

.testimonials__box {
	padding: 40px 20px;
	text-align: center;
	max-width: 375px;
	margin: 0 auto;
}



/*Gallery Section*/
.gallery__holder {
	display: flex;
	flex-wrap: wrap;
}

.gallery-image__box {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	flex: 0 1 50%;
	padding-top: 50%;
	text-align: center;
}

#bg-five {
	background-image: url("img/mobile/image-gallery-milkbottles.jpg")
}

#bg-six {
	background-image: url("img/mobile/image-gallery-orange.jpg")
}

#bg-seven {
	background-image: url("img/mobile/image-gallery-cone.jpg")
}

#bg-eight {
	background-image: url("img/mobile/image-gallery-sugar-cubes.jpg")
}



/*Footer Section*/
footer {
	background-color: var(--box-cyan);
	text-align: center;
	padding: 60px 10px;

}

.footernav li {
	display: inline-block;
	color: var(--text-footer);
	padding: 20px;
}

.footernav li a:hover {
	color: var(--box-white);
}

.social-links__holder {
	padding-top: 50px;
}

.social-links__holder a {
	padding: 0px 15px;
}

.social-links__holder a:hover img {
	filter: brightness(0%) invert(100%);
}



/*Media Queries*/
@media all and (min-width: 767px) {
	.two-column__holder, .testimonials__holder {
		display: flex;
	}

	.two-column__content {
		max-width: 550px;
		text-align: left;
		flex: 0 1 50%;
		padding: 240px 80px;
	}

	.two-column__image {
		padding-top: unset;
		flex: 0 1 50%;
	}

	.two-column__gallery {
		padding-top: calc(41.65% - 182px);
		flex: 0 1 50%;
		background-position: top;
	}

	.testimonials__holder {
		display: flex;
		justify-content: center;
	}

	.testimonials__box {
		flex: 0 1 33%;
	}

	header {
		background-image: url("img/desktop/image-header.jpg");
		padding: 20px 20px;
	}

	.header-hero img {
		padding-bottom: 240px;
	}

	button img {
		display: none;
	}

	.header-top {
		display: flex;
		justify-content: space-between;
	}

	.header-top img {
		padding: 25px 20px;
	}

	#dropdownbox {
		position: unset;
		display: flex;
		align-items: center;
		background-color: unset;
		width: unset;
		margin: unset;
		padding: unset;
	}

	#dropdownbox::after {
		content: unset;
	}


	li {
		padding: unset;
		font-size: 1rem;
		color: var(--box-white);
		padding: 0px 20px;
	}

	.button__yellow a {
		background-color: var(--box-white);
		padding: 15px 20px;
		font-size: 0.8rem;
	}

	#bg-one {
	background-image: url("img/desktop/image-transform.jpg");
	}

	#bg-two {
	background-image: url("img/desktop/image-stand-out.jpg");
	}

	#bg-three {
	background-image: url("img/desktop/image-graphic-design.jpg");
	}

	#bg-four {
	background-image: url("img/desktop/image-photography.jpg");
	}

	#bg-five {
	background-image: url("img/desktop/image-gallery-milkbottles.jpg");
	}

	#bg-six {
		background-image: url("img/desktop/image-gallery-orange.jpg");
	}

	#bg-seven {
		background-image: url("img/desktop/image-gallery-cone.jpg");
	}

	#bg-eight {
		background-image: url("img/desktop/image-gallery-sugarcubes.jpg");
	}

	.testimonials {
		padding: 120px 80px;
	}

	.testimonials__box img {
		margin-bottom: 50px;
	}

	.testimonials__box p {
		padding-bottom: 50px;
	}

	.gallery-image__box {
		flex: 0 1 25%;
		padding-top: 25%;
	}

	footer {
	padding: 60px 40px;
	}

	.footernav li {
	padding: 40px;
	}
}